.Joy {
  background-color: rgb(14, 206, 206);
  height: 100vh;
  background-image: url(river.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
}

.navbar {
  height: 15vh;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  display: flex;
  justify-content: center;
}

.section {
  display: flex;
  justify-content: space-around;
  height: 55px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: gray;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 226, 226);
  z-index: 100;
}

.title {
  display: flex;
  gap: 28px;
}

.demo {
  font-size: 29px;
  text-align: center;
}
.icon {
  color: purple;
}

/* joy is coming starts here */
.Joy h1 {
  color: white;
  font-size: 50px;
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
  width: 50%;
  text-align: center;
}

.Joy p {
  color: white;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bu {
  width: 200px;
  height: 50px;
  border-style: solid;
  border-color: transparent;
  background-color: rgb(104, 43, 203);
  color: white;
}

.gy {
  width: 200px;
  height: 50px;
  border-color: white;
  background-color: transparent;
  border-style: solid;
  color: white;
}
/* svo friendly starts here */
.seo {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  gap: 35%;
}

.png {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seo1 {
  width: 50%;
  background-color: white;
}

.seo2 {
  width: 50%;
}

.seo2 h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 40px;
}

.seo2 p {
  color: gray;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-right: 40px;
  line-height: 24px;
}

.svobutton {
  width: 200px;
  height: 50px;
  border-color: transparent;
  border-style: solid;
  background-color: #745cf9;
  color: white;
  margin-top: 24px;
}
/* seo friendly ends here */

/* portfolio starts here */
.portfolio {
  height: 80vh;
  display: flex;
  align-items: center;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  gap: 35%;
}
.port1 {
  width: 50%;
}
.port1 h1 {
  font-size: 32px;
  font-family: inherit;
  font-weight: 300;
  padding: 0px;
  margin-left: 40px;
}

.port1 p {
  color: #8c979e;
  margin-top: 30px;
  margin-bottom: 0px;
  padding: 0px;
  margin-left: 40px;
  line-height: 24px;
}

.portbutton {
  width: 200px;
  height: 50px;
  border-color: transparent;
  border-style: solid;
  background-color: #745cf9;
  color: white;
  margin-top: 24px;
}

.port2 {
  width: 50%;
}
.png1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* portfolio ends here */

/* paralax section starts here */
.paralax {
  background-color: rgb(14, 206, 206);
  height: 100vh;
  background-image: url(sea.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
}
.paralax h1 {
  color: white;
  font-size: 50px;
  font-weight: 100;
  font-family: "Times New Roman", Times, serif;
  width: 50%;
  text-align: center;
}

.paralax p {
  color: white;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  line-height: 24px;
}

.info {
  width: 200px;
  height: 50px;
  border-style: solid;
  border-color: transparent;
  background-color: rgb(104, 43, 203);
  color: white;
  margin-top: 30px;
}
/* Paralax ends here

limitless option starts here */
.limitless {
  background-color: white;
  height: 50vh;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
}

.limitless h3 {
  color: black;
  font-size: 30px;
  font-weight: 200;
  font-family: "Times New Roman", Times, serif;
  width: 50%;
  text-align: center;
}

.limitless p {
  color: #8c979e;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 20px;
  margin-bottom: 0px;
  text-align: center;
  line-height: 24px;
}

.Liminfo {
  width: 200px;
  height: 50px;
  border-style: solid;
  border-color: transparent;
  background-color: #745cf9;
  color: white;
  margin-top: 30px;
}

/* ends here  */

/* project session starts here  */
.ps {
  background-color: black;
  height: 100vh;
  color: white;
}
.ps h1 {
  text-align: center;
  padding-top: 70px;
  font-weight: 100;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.ps p {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.proj {
  display: flex;
  flex-wrap: wrap;
}

.proj div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.proj div {
  width: calc(100% / 4);
}
/* ends here  */

/* our latest proj  */
.late {
  background-image: url(river.jpg);
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.late h2 {
  text-align: center;
  padding-top: 80px;
  color: white;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.late p {
  text-align: center;
  color: white;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.john {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.john img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.late h5 {
  text-align: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

/* ends here  */

/* media query starts here */

@media (max-width: 480px) {
  .button {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
}

@media (max-width: 834px) {
  .navbar {
    display: none;
  }
  .seo {
    flex-wrap: wrap;
  }
  .seo1 {
    width: 100%;
  }
  .seo2 {
    width: 100%;
  }
  .portfolio {
    flex-wrap: wrap;
  }
  .port1 {
    width: 100%;
  }
  .port2 {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .proj div {
    width: calc(100% / 2);
  }
}

@media (max-width: 834px) {
  .navbar {
    display: none;
  }
  .seo {
    flex-wrap: wrap;
  }
  .seo1 {
    width: 100%;
  }
  .seo2 {
    width: 100%;
  }
  .portfolio {
    flex-wrap: wrap;
  }
  .port1 {
    width: 100%;
  }
  .port2 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .proj div {
    width: calc(100% / 1);
  }
}

@media (max-width: 480px) {
  .button {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
}
